@import url(https://fonts.googleapis.com/css?family=Roboto:100,100italic,300,300italic,regular,italic,500,500italic,700,700italic,900,900italic);
* * {
  padding: 0;
  margin: 0;
  border: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*, * ::before, * ::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a:focus, a:active {
  outline: none;
}

a, a:link, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

aside, nav, footer, header, section, main {
  display: block;
}

h1, h2, h3, h4, h5, h6, p {
  font-size: inherit;
  font-weight: inherit;
}

ul, ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

img, svg {
  max-width: 100%;
  height: auto;
}

address {
  font-style: normal;
}

input, textarea, button, select {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  background-color: transparent;
}

input::-ms-clear {
  display: none;
}

button, input[type=submit] {
  display: inline-block;
  -webkit-box-shadow: none;
          box-shadow: none;
  background-color: transparent;
  background: none;
  cursor: pointer;
}

input:focus, input:active, button:focus, button:active {
  outline: none;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

label {
  cursor: pointer;
}

legend {
  display: block;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.header-top {
  padding: 32px 0 68px 0;
}

.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header__top-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header__top-row ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header__top-row ul li {
  margin-right: 22px;
}
.header__top-row ul li:last-child {
  margin-right: 27px;
}
.header__top-row ul li a {
  color: #000;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
.header__top-row ul li a:hover {
  color: #8d8b8b;
}

#login {
  margin-right: 18px;
  border-radius: 100px;
  padding: 12px 30px;
  color: #000;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  border: 1px solid #000;
  background-color: transparent;
}
#login:hover,
#login :focus {
  background: #000;
  color: #fff;
}

#Talk-to-an-Expert {
  border-radius: 100px;
  padding: 12px 30px;
  color: #fff;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  border: 1px solid #000;
  background: #000;
}
#Talk-to-an-Expert:hover,
#Talk-to-an-Expert :focus {
  background-color: transparent;
  color: #000;
}

.header-main {
  padding: 27px 0 72px 0;
}

.header__main-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: left;
}
.header__main-row img {
  width: 100%;
  height: 100%;
}

.header__main__row-info__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 72px;
  margin-right: 48px;
}
.header__main__row-info__block h1 {
  font-size: 77px;
  padding: 27px 0;
  font-weight: 700;
  line-height: 82.8px; /* 107.532% */
}
.header__main__row-info__block p {
  margin-bottom: 79px;
  font-size: 20px;
  font-weight: 400;
  line-height: 30.6px; /* 153% */
}
.header__main__row-info__block h4 {
  color: #000;
  font-size: 18px;
  font-weight: 700;
  margin-bottom: 27px;
  line-height: 24px; /* 133.333% */
}
.header__main__row-info__block button {
  width: 160px;
  border-radius: 100px;
  padding: 12px 30px;
  color: #fff;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  border: 1px solid #000;
  background: #000;
}
.header__main__row-info__block button:hover,
.header__main__row-info__block button :focus {
  background-color: transparent;
  color: #000;
}

.finances-stack {
  padding: 54px 0 44px 0;
}

.finances__stack-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.finances__stack-row img {
  width: 483px;
  height: 280px;
  margin-right: 104px;
}

.finances__stack__row-info__block {
  padding: 51px 0 126px 0;
}
.finances__stack__row-info__block h2 {
  width: 443px;
  margin-bottom: 33px;
  font-size: 58px;
  font-weight: 700;
  line-height: 57.6px; /* 99.31% */
}
.finances__stack__row-info__block p {
  width: 515px;
  font-size: 20px;
  font-weight: 400;
  line-height: 30.6px; /* 153% */
}
.finances__stack__row-info__block a {
  color: #335c81;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  text-decoration: underline;
}
.finances__stack__row-info__block a:hover, .finances__stack__row-info__block a :focus {
  color: #233e58;
}

.advantages {
  padding: 54px;
}

.advantages-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.advantages__row-text__block {
  padding-top: 30px;
  margin-bottom: 82px;
}
.advantages__row-text__block h2 {
  font-size: 58px;
  font-weight: 700;
  line-height: 57.6px; /* 99.31% */
}

.advantages__row-companies__blocks {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 72px;
  gap: 54px;
}

.advantages__row-companies__block img {
  width: 200px;
  height: 150px;
  margin-bottom: 24px;
}
.advantages__row-companies__block h3 {
  font-size: 28px;
  font-weight: 700;
  line-height: 36px; /* 128.571% */
  margin-bottom: 10px;
}
.advantages__row-companies__block p {
  width: 295px;
  font-size: 18px;
  line-height: 24px; /* 133.333% */
}
.advantages__row-companies__block p a {
  color: #335c81;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  text-decoration: underline;
}
.advantages__row-companies__block p a:hover, .advantages__row-companies__block p a :focus {
  color: #233e58;
}

.advantages__row-btn__block {
  width: 230px;
  padding-bottom: 126px;
}
.advantages__row-btn__block button {
  border-radius: 100px;
  padding: 12px 30px;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  border: 1px solid transparent;
  background: #f7b2b7;
}
.advantages__row-btn__block button:hover,
.advantages__row-btn__block button :focus {
  border: 1px solid #000;
  background-color: transparent;
}

.plans {
  padding: 89px 0;
  background-color: #fdeced;
}

.plans-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.plans__row-text__block {
  margin-bottom: 82px;
  font-size: 58px;
  font-weight: 700;
  line-height: 57.6px; /* 99.31% */
  font-weight: 400;
}

.plans__row-stage__blocks {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 60px;
}

.plans__row-stage__block img {
  margin-bottom: 24px;
}
.plans__row-stage__block h3 {
  font-size: 28px;
  font-weight: 700;
  line-height: 36px; /* 128.571% */
}
.plans__row-stage__block p {
  width: 304px;
  font-size: 18px;
  line-height: 24px; /* 133.333% */
}

.companies {
  padding: 36px 0;
}

.companies-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.companies-text__block {
  padding: 92px 0 285px 0;
  width: 236px;
  margin-right: 116px;
}
.companies-text__block h3 {
  font-size: 27px;
  line-height: 36px; /* 133.333% */
}

.companies-img__blocks {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 200px 33px 200px 33px 200px;
  grid-template-columns: 200px 200px 200px;
  gap: 33px;
  padding: 71px 0;
}

.achub {
  padding-bottom: 107px;
}

.achub-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.achub-row img {
  padding: 107px 0 78px 0;
}

.achub__row-info__block h2 {
  margin-bottom: 40px;
  font-size: 58px;
  font-weight: 700;
  line-height: 57.6px; /* 99.31% */
}
.achub__row-info__block p {
  width: 547px;
  margin-bottom: 79px;
  font-size: 20px;
  font-weight: 400;
  line-height: 30.6px; /* 153% */
}
.achub__row-info__block button {
  border-radius: 100px;
  padding: 12px 30px;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  border: 1px solid transparent;
  background: #f7b2b7;
}
.achub__row-info__block button:hover,
.achub__row-info__block button :focus {
  border: 1px solid #000;
  background-color: transparent;
}

.switch {
  padding: 108px 0;
}

.switch-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 283px;
  border-radius: 10px;
  background-color: #8bd4d6;
}

.switch__row-text__block {
  padding: 0 90px;
}
.switch__row-text__block h2 {
  width: 750px;
  margin-bottom: 18px;
  font-size: 58px;
  font-weight: 700;
  line-height: 57.6px; /* 99.31% */
}
.switch__row-text__block p {
  font-size: 20px;
  font-weight: 400;
  line-height: 30.6px; /* 153% */
}

.switch__row-btn__block button {
  border-radius: 100px;
  padding: 12px 30px;
  color: #fff;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  border: 1px solid #000;
  background: #000;
}
.switch__row-btn__block button:hover,
.switch__row-btn__block button :focus {
  background-color: transparent;
  color: #000;
}

.footer {
  background-color: #302e3f;
}

.footer-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 45px 0;
  row-gap: 45px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.footer__top-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.footer__top-row img {
  margin-right: 18px;
}
.footer__top-row h3 {
  color: #fff;
  font-size: 28px;
  line-height: 36px; /* 128.571% */
}

.footer__main__row-links__blocks {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-bottom: 81px;
}

.footer__main__row__links-block {
  margin-right: 60px;
}
.footer__main__row__links-block h3 {
  margin-bottom: 12px;
  color: #fff;
}
.footer__main__row__links-block li {
  width: 165px;
  margin-bottom: 8px;
}
.footer__main__row__links-block li a {
  color: #c5e9ea;
  font-size: 16px;
  line-height: 16.2px; /* 101.25% */
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
.footer__main__row__links-block li a:hover,
.footer__main__row__links-block li a :focus {
  color: #8fb6b8;
}

.footer__undermain__row-links_block h3 {
  color: #fff;
  margin-bottom: 13px;
}
.footer__undermain__row-links_block li {
  margin-bottom: 8px;
  width: 163px;
}
.footer__undermain__row-links_block li a {
  color: #c5e9ea;
  font-size: 16px;
  line-height: 16.2px; /* 101.25% */
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
.footer__undermain__row-links_block li a:hover,
.footer__undermain__row-links_block li a :focus {
  color: #8fb6b8;
}

.footer__bottom-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer__bottom__row-text__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.footer__bottom__row-text__block h4 {
  margin-right: 27px;
}
.footer__bottom__row-text__block h4 a {
  color: #c5e9ea;
  font-size: 16px;
  line-height: 16.2px; /* 101.25% */
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
.footer__bottom__row-text__block h4 a:hover,
.footer__bottom__row-text__block h4 a :focus {
  color: #8fb6b8;
}

body {
  font-size: 16px;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  background-color: #fff;
}

.container {
  max-width: 1330px;
  padding: 0 15px;
  margin: 0 auto;
}