//! headings
@mixin main-heading {
  font-size: 77px;
  padding: 27px 0;
  font-weight: $accent-fw;
  line-height: 82.8px; /* 107.532% */
}
@mixin headings {
  font-size: 58px;
  font-weight: $accent-fw;
  line-height: 57.6px; /* 99.31% */
}

@mixin headerLinks {
  color: $main-color;
  transition: all 0.2s ease-in-out;
  &:hover {
    color: $header-link-hover;
  }
}

//! paragraphs
@mixin paragraph {
  font-size: 20px;
  font-weight: $main-fw;
  line-height: 30.6px; /* 153% */
}

//! btns
@mixin btn-pink {
  border-radius: 100px;
  padding: 12px 30px;
  transition: all 0.2s ease-in-out;
  border: 1px solid transparent;
  font-weight: $accent-fw;
  background: $btn-color;
  &:hover,
  :focus {
    border: 1px solid $main-color;
    background-color: transparent;
  }
}

@mixin btn-black {
  border-radius: 100px;
  padding: 12px 30px;
  color: $white-text;
  font-weight: $accent-fw;
  transition: all 0.2s ease-in-out;
  border: 1px solid #000;
  background: $btn-black-color;
  &:hover,
  :focus {
    background-color: transparent;
    color: $btn-black-color;
  }
}

@mixin btn-transparent {
  border-radius: 100px;
  padding: 12px 30px;
  font-weight: $accent-fw;
  color: $btn-black-color;
  transition: all 0.2s ease-in-out;
  border: 1px solid #000;
  background-color: transparent;
  &:hover,
  :focus {
    background: $btn-black-color;
    color: $white-text;
  }
}

//! links
@mixin links {
  color: $link-color;
  transition: all 0.2s ease-in-out;
  text-decoration: underline;
  &:hover,
  :focus {
    color: $hover-link-color;
  }
}

@mixin footerLink {
  color: $footer-link-color;
  font-size: 16px;
  line-height: 16.2px; /* 101.25% */
  transition: all 0.2s ease-in-out;
  &:hover,
  :focus {
    color: $footer-link-hover-color;
  }
}
