//! fonts
$main-font: "Roboto", sans-serif;

//! fw
$main-fw: 400;
$accent-fw: 700;

//! colors
$bg-main-color: #fff;
$main-color: #000;
$link-color: #335c81;
$btn-color: #f7b2b7;
$white-text: #fff;
$btn-hover-color: #dc9fa3;
$btn-black-color: #000;
$btn-hover-black-color: transparent;
$bg-pink-color: #fdeced;
$bg-blue-color: #8bd4d6;
$bg-violet-color: #302e3f;
$footer-text-color: #fff;
$footer-link-color: #c5e9ea;
