.advantages {
  padding: 54px;
}
.advantages-row {
  display: flex;
  flex-direction: column;
}
.advantages__row-text__block {
  padding-top: 30px;
  margin-bottom: 82px;
  & h2 {
    @include headings;
  }
}
.advantages__row-companies__blocks {
  display: flex;
  margin-bottom: 72px;
  gap: 54px;
}
.advantages__row-companies__block {
  & img {
    width: 200px;
    height: 150px;
    margin-bottom: 24px;
  }
  & h3 {
    font-size: 28px;
    font-weight: 700;
    line-height: 36px; /* 128.571% */
    margin-bottom: 10px;
  }
  & p {
    width: 295px;
    font-size: 18px;
    line-height: 24px; /* 133.333% */
    & a {
      color: $link-color;
      text-decoration: underline;
    }
  }
}

.advantages__row-btn__block {
  width: 230px;
  padding-bottom: 126px;
  & button {
    @include btn-pink;
  }
}
